    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="banner2">
          <div class="container">

              <br/><br/>
              <h2>VBM Global</h2>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
                <p>Implantée à Baugé en Anjou, proche d’Angers (49), la Flèche (72) et Tours (37),
                  VBM Global est spécialisé depuis plus de 20 ans dans la fabrication de vérandas et toutes menuiseries mixtes (bois/alu) et PVC.</p>
                <br></br>
                <p>Que vous soyez professionnel ou particulier, nous saurons répondre à vos envies, contraintes et besoins grâce à nos fabrications sur mesures.</p>
                <br></br>
                <p>Notre show room d’exposition est à votre disposition pour vous présenter nos réalisations.</p>
                <p>Horaires d’ouverture :
                Du lundi au vendredi : 8h-12h / 14h-18h
                Le samedi : 9h-12h</p>
                <br/>
                <a href="#services" class="btn" active><i class="fa fa-arrow-circle-down fa-5x" aria-hidden="true"></i></a>
              </div>
            </div>
    </section>
