    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>VBM Global</h2>
              <br/>
                <p>Fabricant de vérandas sur mesure près d'Angers, Saumur (Maine et Loire, 49), de Tours (Indre et Loire, 37) et La Flèche (Sarthe, 72), vous propose ses menuiseries mixtes ou pvc, porte d'entrée, porte de garage, pergola, volet roulant ou battant, store extérieur, portail, persienne et automatisme. VBM assure la vente aux professionnels, architectes, maîtres d'oeuvre.</p>
                <p></p>
                <p>Nos Réalisations :</p>
                <br/>
              </div>
        </div>
    </section>
