<section id="contact">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h2>VBM GLOBAL</h2>
					<br>
					<br>
					<br>
					<br>
					<h3>PARC D'ACTIVITE SAINTE CATHERINE I<br>
							RTE D'ANGERS BAUGE<br>
							49150 BAUGE-EN-ANJOU</h3>
					<h3><i class="fa fa-phone-square" aria-hidden="true"></i> 02 41 89 19 00</h3>
					<a href="https://www.facebook.com/V%C3%A9randa-Baugeoise-Menuiserie-493714200800141/" target="_blank"><h3><i class="fa fa-facebook-square" aria-hidden="true"></i> facebook</h3></a>
					<h3><a href="https://goo.gl/maps/QCXDFGySSTMk7R3N6" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> Google Maps</a></h3>
				</div>
				<br>
				<div class="col-lg-6">
					<br>
					<br>
					<form accept-charset="UTF-8" action="https://getform.io/f/8e4f278d-fa48-44f6-850a-a0e6f4e8203c" method="POST"enctype="multipart/form-data" target="_blank">
						<label for="NameImput" required="required"></label>
    					<input type="text" name="name" class="form-control" id="NameImput" placeholder="Nom">
						<label for="EmailInput" required="required"></label>
    					<input type="email" name="email" class="form-control" id="EmailImput" placeholder="email@exemple.com">
    				<label for="TextImput" required="required"></label>
    					<textarea class="form-control" name="message" id="TextImput" rows="5"></textarea>
					<br>
					</br>
						<button type="submit" class="btn btn-default btn-lg">Envoyer</button>
					</form>
				</div>
			</div>
		</div>
		<div class="text-center">
				<a href="#home" class="btn" active><i class="fa fa-arrow-circle-up fa-5x" aria-hidden="true"></i></a>
		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
