<section id="contact">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h2>Nous contacter :</h2>
				</div>
				<div class="col-lg-6">
				</div>
				<p></p>
				<br>
				</br>
					<form accept-charset="UTF-8" action="https://getform.io/f/8e4f278d-fa48-44f6-850a-a0e6f4e8203c" method="POST"enctype="multipart/form-data" target="_blank">
						<label for="NameImput" required="required">Nom</label>
							<div class="row">
	    					<div class="col">
    							<input type="text" name="name" class="form-control" id="NameImput" placeholder="Nom">
								</div>
								<label for="EmailInput" required="required">Adresse email</label>
	    				<div class="col">
    						<input type="email" name="email" class="form-control" id="EmailImput" placeholder="email@example.com">
  						</div>
								</div>
  					<div class="row">
    					<label for="TextImput" required="required">Message</label>
    					<textarea class="form-control" name="message" id="TextImput" rows="5"></textarea>
  					</div>
						<button type="submit" class="btn btn-default btn-lg">Envoyer</button>
					</form>
			</div>
		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
